@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.vue-select {
    width:100% !important;
}

.vue-input {
    transition: .3s ease !important;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    --tw-border-opacity: 1 !important;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity)) !important;
    border-radius: 0.375rem !important;
    padding:8px 12px !important;
}

.vue-dropdown {
    transition: .3s ease !important;
}

.vue-select.direction-bottom .vue-dropdown {
    border-color: rgba(209, 213, 219, var(--tw-border-opacity)) !important;
    border-radius: 0.375rem !important;
    top:120% !important;
}

.vue-select[aria-expanded=true].direction-bottom {
    border-color: rgba(209, 213, 219, var(--tw-border-opacity)) !important;
    border-radius: 0.375rem !important;
}

.vue-select[aria-expanded=true].direction-top {
    border-color: rgba(209, 213, 219, var(--tw-border-opacity)) !important;
    border-radius: 0.375rem !important;
}

.vue-select.direction-top .vue-dropdown {
    border-color: rgba(209, 213, 219, var(--tw-border-opacity)) !important;
    border-radius: 0.375rem !important;
    bottom:120% !important;
}

.vue-dropdown-item {
    transition: .3s ease !important;
    font-size: 0.875rem !important;
    padding: .5rem 1rem !important;
    line-height: 1.25rem !important;
}

.vue-dropdown-item.highlighted {
    font-size: 0.875rem !important;
    transition: .3s ease !important;
    line-height: 1.25rem !important;
    --tw-text-opacity: 1 !important;
    padding: .5rem 1rem !important;
    color: rgba(55,65,81,var(--tw-text-opacity)) !important;
    background-color:  rgba(243,244,246,var(--tw-text-opacity)) !important;
}
